body {
    user-select: none;
    background-color: papayawhip;
    background-size: cover;
}

img {
    opacity: 0;
}

.navbar {
    display: flexbox;
    position: absolute;
    transform: translate3d(44rem, 38rem, 0);
}

a {
    text-decoration: none;
    color: black;
}

.tile>img {
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.tile:hover>img {
    opacity: 1;
    transform: scale(1.2);
    transition-duration: 300ms;
}

.tile {
    animation: example1;
    opacity: 1;
    border-radius: 10px;
    position: absolute;
}

.tile:nth-child(1) {
    background: none;
    background-color: pink;
    width: 15%;
    left: 5%;
    top: 5%;
    animation-duration: 1.5s;
}

.tile:nth-child(2) {
    background-color: pink;
    width: 15%;
    left: 80%;
    top: 55%;
    animation-duration: 1.5s;
}

.tile:nth-child(3) {
    background-color: rgb(255, 192, 249);
    width: 15%;
    left: 28%;
    top: 15%;
    animation-duration: 1.8s;
}

.tile:nth-child(4) {
    background-color: pink;
    width: 15%;
    left: 28%;
    top: 65%;
    animation-duration: 1.8s;
}

.tile:nth-child(5) {
    background-color: rgb(255, 192, 249);
    width: 15%;
    left: 80%;
    top: 5%;
    animation-duration: 1.5s;
}

.tile:nth-child(6) {
    background-color: rgb(255, 192, 249);
    width: 15%;
    left: 58%;
    top: 65%;
    animation-duration: 1.8s;
}

.tile:nth-child(7) {
    background-color: rgb(255, 192, 249);
    width: 15%;
    left: 5%;
    top: 55%;
    animation-duration: 1.5s;
}

.tile:nth-child(8) {
    background-color: pink;
    width: 15%;
    left: 58%;
    top: 15%;
    animation-duration: 1.8s;
}

@keyframes example1 {
    0% {
        left: 40%;
        top: 40%;
    }
}

.brands {
    opacity: 0;
    position: absolute;
    transform: translate3d(11.5rem, 42rem, 0);
}

a {
    text-align: center;
    margin-left: 3rem;
}

.left,
.right {
    margin: 0 2rem;
}